<div class="nav container-fluid">
    <div class="logo col-lg-3">
        <div class="pull-right">
            <a href="http://{{ config.base_domain }}">{{ config.app_name | capitalize }}</a>
        </div>
    </div>
    <div class="header-title col-lg-6">
        Url Shortener
    </div>
    <div class="user-actions col-lg-3">
        <div class="pull-left">
            User Actions
        </div>
    </div>
</div>
