{% extends "layout.twig" %}
{% block content %}
    <div class="container-fluid">
        <div class="center">
            <div class="col-lg-6 col-lg-offset-3">
                <form method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                    {#<input type="text" name="url" placeholder="https://www.example.com/"/><input type="submit" value="Generate" />#}
                    {#<div class="col-lg-6 col-lg-offset-3">#}
                        <div class="input-group">
                              <input type="text" name="url" class="form-control" placeholder="https://www.example.com/">
                              <span class="input-group-btn">
                              <button class="btn btn-default" type="submit" value="Generate">Generate</button>
                              </span>
                        </div><!-- /input-group -->
                    {#</div><!-- /.col-lg-6 -->#}
                </form>
                {% if context.result %}
                    <div class="result">
                        <p class="text-center">
                            {% if context.result == 'invalid token' %}
                                {{ context.result }}
                            {% else %}
                                <a href="{{ context.result }}" target="_blank">{{ context.result }}</a>
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
