{% extends "layout.twig" %}
{% block content %}
    <div class="container">
        <div class="center">
            {% if context.result %}
                <p>
                    {% if context.result == 'invalid token' %}
                        {{ context.result }}
                    {% else %}
                        <a href="{{ context.result }}" target="_blank">{{ context.result }}</a>
                    {% endif %}
                </p>
            {% endif %}
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="text" name="url" placeholder="https://www.example.com/"/><input type="submit" value="Generate" />
            </form>
        </div>
    </div>
{% endblock %}
