{% extends "layout.twig" %}
{% block content %}
    <div class="container">
        <div class="center">
            {% include "partials/flashes.twig" %}
            <form class="login" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
                <input type="text" name="email" placeholder="name@example.com"/>
                <input type="password" name="url" placeholder="password"/>
                <input type="submit" value="signin" />
            </form>
        </div>
    </div>
{% endblock %}
