{% extends "layout.twig" %}
{% block content %}
    {% if user %}
        {% include 'partials/user_header.twig' %}
    {% endif %}
    <div class="container">
        <div class="center">
            {{ user.email }}
            {% for token in user.tokens %}
                {{ token }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
