/* reset */
ul {
  padding: 0;
}

li {
  list-style: none;
}

body {
  background-image: url('../images/topography.png'); // https://www.toptal.com/designers/subtlepatterns/topography/
}

.container-fluid {
  border-top: 16px solid lightseagreen;
  border-radius: 4px;
}

.center {
  padding: 6em 0;
}

.result {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  background: rgb(239, 159, 0);
  border-radius: 4px;
}

.card {
  margin: 1em;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 1em 1em;
  background: white;
}
