/* reset */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

div {
  margin: 0;
  border: 0;
  padding: 0;
}

.clear-fix {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #333;
  background-image: url('../images/topography.png'); // https://www.toptal.com/designers/subtlepatterns/topography/
}

/* variables */
$greenblue: #226666;

/* default-colors */
a {
  color: $greenblue;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

/* nav */

.nav {
  color: white;
  background-color: $greenblue;

  .logo,
  .header-title,
  .user-actions {
    font-size: 24px;
  }

  .logo,
  .user-actions {
    a {
        color: white;
      }
  }
}

/* content */

.content {

  padding: 0;

  .main {
    padding: 0;

    .header {
      padding: 60px 0;
    }
  }
}

.result {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 4px;
}

.card {
  margin: 1em;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 1em 1em;
  background: white;
}

/* footer */
