/* reset */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0; }

ul {
  padding: 0; }

li {
  list-style: none; }

div {
  margin: 0;
  border: 0;
  padding: 0; }

.clear-fix {
  content: "";
  display: table;
  clear: both; }

body {
  color: #333;
  background-image: url(../images/topography.977e3fd0f430205e51e65488c11fdddc.png); }

/* variables */
/* nav */
.nav {
  color: white;
  background-color: #226666; }
  .nav .logo,
  .nav .header-title,
  .nav .user-actions {
    font-size: 24px; }
  .nav .logo a {
    color: white;
    text-decoration: none; }
    .nav .logo a:hover {
      text-decoration: none; }

/* content */
.content {
  padding: 0; }
  .content .main {
    padding: 0; }
    .content .main .header {
      padding: 60px 0; }

.result {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 4px; }

.card {
  margin: 1em;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 1em 1em;
  background: white; }

/* footer */
