/* reset */
ul {
  padding: 0; }

li {
  list-style: none; }

div {
  margin: 0;
  border: 0;
  padding: 0; }

body {
  background-image: url(../images/topography.977e3fd0f430205e51e65488c11fdddc.png); }

/* variables */
.nav {
  color: white;
  background-color: #226666; }
  .nav .logo,
  .nav .header-title,
  .nav .user-actions {
    font-size: 24px; }

.content {
  padding: 0; }
  .content .main {
    padding: 0; }
    .content .main .header {
      padding: 60px 0; }

.result {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  background: #ef9f00;
  border-radius: 4px; }

.card {
  margin: 1em;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 1em 1em;
  background: white; }
