{% if context.hash %}
    <a href="{{ context.hash }}">{{ context.hash }}</a>
{% endif %}
<form method="post">
    <p>Url: <input type="text" name="url"/></p>
    <input type="submit" value="Generate" />
</form>
